.computer-vision {
    align-items: center;
    justify-content: center;
    background-color: rgb(131, 191, 226);
}
.electric-vehicle {
    align-items: center;
    justify-content: center;
    background-color: #7ACCAB;
}
.robotics {
    align-items: center;
    justify-content: center;
    background-color: #FEBF86;
}
.carousel-row {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
card{
    padding: 20px;    
}
.border {
    border-width: 50px;
}
.crd-text {
    color: black !important;
}
.cv-button {
    background-color: #015685 !important; 
    border: 2px solid black !important;
}
/* .cv-button:hover {
    border: 2px solid #0185CF !important;
} */
.cv-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    color: black	;  
    text-align: center;
    justify-content: center;
}
.ev-heading {
    padding-top: 20px;
    position: relative;
    color: black	;  
    text-align: center;
}
.ev-button {
    background-color: rgb(40, 102, 76) !important; 
    border: 2px solid black !important;
}
.rpp-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    color: black;
    text-align: center;
}
.rpp-button {
    background-color: rgb(209, 117, 31) !important; 
    border: 2px solid black !important;
}
.domain-heading{
    justify-content: center;
    text-align:center;
}
.domain-button-cv {
    margin-top: 20px;
    border: 2px solid black;
    background-color: #015685;
    color: white;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 5px; */
  }
  .domain-button-cv span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
  }
  .domain-button-cv span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
  }
    
  .domain-button-cv:hover span {
      padding-right: 25px;
  }
    
  .domain-button-cv:hover span:after {
      opacity: 1;
      right: 0;
  }
  .explore-button{
      text-align: center;
      margin-bottom: 40px;
  }
  .domain-button-ev {
    margin-top: 20px;
    border: 2px solid black;
    background-color: rgb(40, 102, 76);
    color: white;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 5px; */
  }
  .domain-button-ev span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
  }
  .domain-button-ev span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
  }
    
  .domain-button-ev:hover span {
      padding-right: 25px;
  }
    
  .domain-button-ev:hover span:after {
      opacity: 1;
      right: 0;
  }
  .domain-button-rpp {
    margin-top: 20px;
    border: 2px solid black;
    background-color: rgb(209, 117, 31);
    color: white;
    font-weight: 500;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 5px; */
  }
  .domain-button-rpp span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
  }
  .domain-button-rpp span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
  }
    
  .domain-button-rpp:hover span {
      padding-right: 25px;
  }
    
  .domain-button-rpp:hover span:after {
      opacity: 1;
      right: 0;
  }